@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    overflow:hidden;
    background-image: linear-gradient(to bottom left, white, #C21010);
}

.font-principal{
    font-family: 'Cabin', sans-serif;
}

.vertical-center{
    align-content: center !important;
    flex-wrap: wrap !important;
    display: flex !important;
    height: 100vh !important;
  }

.card{
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.19), 0 6px 20px 0 rgba(177, 177, 177, 0.19);
  }
  