@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    overflow:hidden;
    background-image: linear-gradient(to bottom left, white, #C21010);
    font-family: 'Poppins', sans-serif;
}

.vertical-center{
    align-content: center !important;
    flex-wrap: wrap !important;
    display: flex !important;
    height: 100vh !important;
  }

.card{
    background: #fff;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.19), 0 6px 20px 0 rgba(177, 177, 177, 0.19);
  }

.heading-image{
      top: 0%;
      left: 50%;
      opacity: 0.9;
      height: 120px;
      width: 120px;
      border-radius: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
  }




  