@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  background-image: url("../img/library.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.font-principal{
  font-family: 'Cabin', sans-serif;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#searchbar{
  margin-left: 15%;
  padding:15px;
  border-radius: 10px;
}

input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
     change its width to 100% */
input[type=text]:focus {
  width: 70%;
}

#list{
 font-size:  1.5em;
 margin-left: 90px;
}

.animals{
display: list-item;    
} 
/* https://codepen.io/nailaahmad/pen/LGRxWJ */